PORT=5000
CLIENT_ORIGIN=http://localhost:5173

MONGO_URI=your_mongodb_connection_string
JWT_SECRET=your_jwt_secret

FIREBASE_CONFIG=your_firebase_config_json_or_base64

GOOGLE_CLIENT_ID=your_google_client_id
NVIDIA_API_KEY=your_nvidia_api_key
AI_MODEL=deepseek-ai/deepseek-r1
FALLBACK_MODEL=meta/llama-3.3-70b-instruct

EMAIL_USER=your_email_user
EMAIL_PASS=your_email_app_password

RAPIDAPI_KEY=your_rapidapi_key
